<div class="notification_settings">
  <% groups.each do |group_title, notification_types| %>
    <table>
      <tbody>
        <% # Don't display a header if only one unnamed group %>
        <% unless groups.size == 1 && group_title.nil? %>
          <tr><th colspan="2"><%= group_title || 'Other' %></th></tr>
        <% end %>

        <% notification_types.each do |notification_type| %>
          <tr>
            <td class="email_subscription">
              <%= 
                check_box_tag "user[notification_types][#{notification_type.to_s}][is_subscribed]", true, 
                  user.is_subscribed_to_notification_type?(notification_type.to_s), 
                  :id => notification_type.to_s 
              %>
            </td>
                        
            <td class="notification_title">
              <%= label_tag notification_type.to_s, notification_type.title %>
            </td>
            
            <% if notification_type.recurrent? %>
              <td class="hidden_stuff">
                <% subscription = user.notification_type_subscriptions.find_by_notification_type(notification_type.to_s) %>                
                <% recurrence = (subscription && subscription.recurrence) || NotificationSystem::Recurrence.new(:interval => notification_type.interval, :starts_at => Time.zone.parse("#{Date.today} #{notification_type.time}")) %>                
                
                <%= hidden_field_tag "user[notification_types][#{notification_type.to_s}][recurrence][interval]", recurrence.interval %>
                <%= hidden_field_tag "user[notification_types][#{notification_type.to_s}][recurrence][starts_at]", recurrence.starts_at %>                
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>